<h1>New Activity</h1>
<form action="/activities" method="POST">
    <label for="name">Activity Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="duration">Duration (in minutes):</label>
    <input type="number" id="duration" name="duration" required>

    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required>

    <input type="hidden" name="userId" value="<%= user._id %>"> <!-- Pass the userId -->

    <button type="submit">Create Activity</button>
</form>
